:root {
    --azul: #174670;
    --azul-claro: #2777BE;
    --red: #ff2e63;
    --red: #ff2e63;
    --verde-claro: #AAF2F1;
}


* {
    font-family: 'Sen', sans-serif;
    overflow: hidden;
}

body {
    height: 100vh;
    color: #fff;
}


/*------------------------------------------------------------------
[Tabla de Contenido de todos los Estilos]
0 - Definicion de las propiedades del contenedor general
1 - Menu
2 - Seccion de Operaciones
3 - Ultimas transacciones
4 - Atajos 
5 - Ventana Dinamica
6 - Modificar - Eliminar - Rehacer Transacciones
7 - Seccion de Entrada de Bases 
8 - Seccion de Lista de Clientes
9 - Seccion de Computadores

--------------------------------------------------------------------*/

/*-----------------------------------
    0 - Definicion de las propiedades del contenedor general
------------------------------------*/

.container-all {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    background: var(--azul);
    width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*-----------------------------------
    1 - Menu
------------------------------------*/

.menu {
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    grid-template-rows: 60px;
    height: 60px;
    min-width: 350px;
    align-items: center;
    border-bottom: 4px solid #fff;
}

    .menu__container {
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        max-height: 60px;
        align-content: space-between;
        background: var(--azul);
    }

        .menu__titulo {
            place-self: start;
            font-size: 22px;
            color: #fff;
            padding-left: 10px;
            user-select: none;
        }

            @media only screen  and (max-width: 568px) {
                .menu__titulo {
                    font-size: 13px;
                }
            }

        .menu__links-desktop {
            display: grid;
            position: relative;
            right: -20px;
            justify-self: flex-end;
            grid-gap: 15px;
            font-size: 17px;
            font-weight: 600;
            padding-right: 20px;
            place-items: center;
            grid-auto-flow: column;
            grid-auto-columns: minmax(min-content, 150px);
        }

        .menu__li-desktop {
            display: none;
            width: 100%;
            height: 30px;
            border-radius: 20px;
            place-items: center;
            text-align: center;
            list-style: none;
        }

            .menu__li-desktop--width {
                min-width: 145px;
            }

            .menu__li-desktop--no-width {
                flex-shrink: 3 
            }

                .menu__enlaces {
                    width: 100%;
                    padding: 5px;
                    color: #fff;
                    border-radius: 20px;
                    text-decoration: none;
                    user-select: none;
                }
                
                    .menu__enlaces:hover {
                        background: var(--red);
                    }

                    .activo {
                        background: var(--red);
                    }

        .menu__btn-responsive {
            position: relative;
            justify-self: flex-end;
            align-self: center;
            right: 20px;
            font-size: 40px;
            color: #fff;
        }

            .menu__btn-responsive:hover {
                color: var(--red);
                cursor: pointer;
                user-select: none;
            }

    .menu__dropdown {
        position: absolute;
        top: 60px;
        min-height: 200px;
        display: grid;
        width: 50%;
        background-color: blueviolet;
        text-align: center;
        grid-gap: 10px;
        padding: 10px;
        border-radius: 20px 0px;
        right: -1000%;
        border: 2px solid #fff;
        border-right-width: 10px;
        z-index: 9999;
    }

            .ocultar {
                right: 1000%;
            }

            .aparecer {
                right: .5px;
            }

        .menu__li-movil {
            list-style: none;
            height: 30px;
            display: grid;
            place-items: center;
            cursor: pointer;
            user-select: none;
        }


 
    
    /*------------Media query | Menu de Desktop *------------*/
    @media only screen  and (min-width: 1081px) {
        .menu__btn-responsive {
            display: none !important;
        }

        .menu__li-desktop {
            display: grid;
        }
    }


    @media only screen and (min-width: 1370px) {
        
        .menu {
            max-height: 80px;
        }   

            .menu__container {
                min-height: 80px;
            }

                .menu__titulo {
                    font-size: 35px;
                }

                .menu__li-desktop {
                    height: 40px;
                    width: 120px;
                    font-size: 28px;
                }

                    .menu__li-desktop--width {
                        min-width: 230px;
                    }
    }


/*-----------------------------------
    2 - Seccion de Operaciones
------------------------------------*/

    .body-container {
        position: relative;
        width: 100vw;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 450px 1fr 16 0px;
        grid-column-gap: 20px;
        grid-row: 2 / span 1;
        padding: 20px 10px;
    }

        .operations {
            position: relative;
            display: grid;
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
            
            top: 0;
            background: var(--azul-claro);
            border-radius: 20px;
        }    

            .operations:hover {
                border: 2px solid var(--red);
            }

            .operations__background {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 5000;
            }

                .operations__img-background {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    object-fit: cover;
                }

                    .img-background-ocultar-animacion {
                        animation-name: ocultarImgBackground !important;
                        animation-duration: 5s !important;
                        animation-fill-mode: forwards !important;
                    }

                        @keyframes ocultarImgBackground {
                            from {
                                opacity: 1;
                                top: 0;
                                left: 0;
                            }
                            to {
                                opacity: 0;
                                top: -465px;
                                left: -440px;
                                transform: rotateY(500deg);  
                                transform: rotateX(500deg);   
                            }
                        }

                    .img-background-aparecer-animacion {
                        animation-name: aparecerImgBackground !important;
                        animation-duration: 2s !important;
                        animation-fill-mode: forwards !important;
                    }
    
                        @keyframes aparecerImgBackground {
                            from {
                                opacity: 0;
                                top: -465px;
                                left: -440px;
                                transform: rotateY(500deg);  
                                transform: rotateX(500deg);  
                                transform: rotateZ(500deg);  
                            }
                            to {
                                opacity: 1;
                                top: 0;
                                left: 0;
                            }
                        }

                .operations__img-logo {
                    position: absolute;
                    object-fit: cover;
                    left: 0px;
                    bottom: 0px;
                    z-index: 5050;
                }

                    .img-logo-desaparecer {
                        animation-name: desaparecer-img !important;
                        animation-duration: 1s !important;
                        animation-fill-mode: forwards !important;
                    }

                        @keyframes desaparecer-img {
                            from {
                                opacity: 1;
                            }
                            to {
                                opacity: 0;
                            }
                        }

                    .img-logo-aparecer {
                        animation-name: aparecer-img !important;
                        animation-duration: 1s !important;
                        animation-fill-mode: forwards !important;
                    }

                        @keyframes aparecer-img {
                            from {
                                opacity: 0;
                            }
                            to {
                                opacity: 1;
                            }
                        }

                    

            .eye-icon {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 35px;
                z-index: 5100;
            }

                .eye-icon:hover {
                    color: var(--red);
                }
        
            .operations__container {
                display: grid;
                grid-template-rows: 60px 40px;
                grid-auto-rows: 40px;
                padding: 20px;
            }

                .operations__titulo {
                    text-align: center;
                    place-self: center;
                }

                .operations__item {
                    display: grid;
                    min-width: 400px;
                    grid-row: 60px;
                    grid-column: 150px 150px;
                }

                    .operations__description {
                        display: inline-block;
                        align-self: center;
                        justify-self: flex-start;
                        font-weight: 600;
                        margin: 5px 0;
                        min-width: 130px;
                        grid-row: 1 / span 1;
                        grid-column: 1 / span 1;
                    }
                    
                    .operations__input {
                        display: inline-block;
                        width: 240px;
                        grid-row: 1 / span 1;
                        grid-column: 2 / span 1;
                        margin: 5px 0;
                        height: 30px;
                        user-select: none;
                    }
        
/*-----------------------------------
    3 - Ultimas transacciones
------------------------------------*/

    .last-transactions {
        position: relative;
        display: flex;
        top: 0px;
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        background: var(--azul-claro);
        border-radius: 20px;
    }

        .last-transactions:hover {
            border: 2px solid var(--red);
        }

        .last-transactions__container {
            display: flex;
            padding: 20px;
            flex-direction: column;
        }

            .last-transactions__h2 {
                position: relative;
                font-size: 25px;
                text-align: center;
            }

            .last-transactions__title-container {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding-bottom: 40px;
            }

                .last-transactions__fecha {
                    align-self: center;
                    width: 45%;
                    font-size: 18px;
                }
                
                .last-transactions__titulo {
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    align-self: center;
                    justify-items: flex-end;
                }

                    .last-transactions__buscar-container {
                        position: relative;
                        width: 320px;
                        height: 60px;
                    }

                        .last-transactions__buscar {
                            position: absolute;
                            right: 0;
                            min-width: 60px;
                            top: 5px;
                            padding: 5px;
                            height: 70px;
                        }

                            .last-transactions__input-buscar {
                                width: 0;
                                height: 40px;
                                padding: 0 20px;
                                font-size: 18px;
                                color: #000;
                                outline: none;
                                border-radius: 30px;
                                border: 1px solid var(--azul-claro);
                                transition: all .6s ease;
                            }

                                .last-transactions__buscar:hover input {
                                    width: 300px;
                                }

                                .last-transactions__input-buscar:focus {
                                    width: 300px;
                                }
                            
                            .last-transactions__btn-container {
                                position: absolute;
                                display: grid;
                                top: 0;
                                right: 0;
                                color: #fff;
                                background: var(--red);
                                width: 55px;
                                height: 55px;
                                border-radius: 50%;
                                line-height: 55px;
                                text-align: center;
                                cursor: pointer;
                            }

                                .last-transactions__btn-lupa {
                                    font-size: 30px;
                                    height: 30px;
                                    align-self: center;
                                }

                                    .active {
                                        color: var(--red);
                                    }

                        
            
            .last-transactions__type {
                display: grid;
                font-weight: 600;
                place-items: center;
                grid-template-rows: 40px;
                grid-template-columns: 50px 85px minmax(100px, 1fr) minmax(100px, 1fr) minmax(200px, 1fr) minmax(100px, 1fr);
                justify-items: center;
                background: var(--azul);
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                border-bottom: 2px solid #fff;
                user-select: none;
            }

                .last-transactions__header {
                    display: block;
                    color: #fff;
                }

            .last-transactions__item {
                display: grid;
                text-align: center;
                grid-template-rows: 40px;
                grid-template-columns: 50px 85px minmax(100px, 1fr) minmax(100px, 1fr) minmax(200px, 1fr) minmax(100px, 1fr);
                place-items: center;
                grid-column-gap: 5px;
                grid-row: 3 / span 1;
                border-bottom: 2px solid var(--azul);
                cursor: pointer;
                user-select: none;
            }

                .last-transactions__input-value {
                    display: inline-block;
                    text-align: center;
                    outline: none;
                    font-weight: 600;
                }

                    .last-transactions__input-value:nth-child(1) {
                        display: inline-block;
                        width: 40px;
                    }

                    .last-transactions__input-value:nth-child(2) {
                        display: inline-block;
                        width: 85px;
                    }

                .fila-activa {
                    background: var(--verde-claro);
                }

                .last-transactions__value {
                    color: #fff;
                }

                    .fila-activa-color {
                        color: #000;
                        font-weight: 600;
                    }


/*-----------------------------------
    4 - Atajos
------------------------------------*/

    .atajos {
        position: relative;
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
        width: 100%;
        bottom: 0;
        font-size: 50px;
        max-height: 60px;
    }

        .atajos__container {
            display: grid;
            grid-template-rows: minmax(max-content, 70px);
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
        }

            .atajos__icons {
                text-align: center;
                align-self: center;
                width: 200px;
                height: 60px;
            }

                .atajos__icons:hover {
                    color: var(--red);
                }

                    .activo-i {
                        color: var(--red);
                    }

                


/*-----------------------------------
    5 - Ventana Dinamica
------------------------------------*/

    .ventana-dinamica {
        position: absolute;
        display: grid;
        opacity: 1;
        padding: 15px;
        align-items: flex-start;
        grid-row: 2 / span 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        overflow: auto;
        transition: all .5s ease;
        z-index: 8888;
    }

        .abrir-ventana-animacion {
            animation-name: aparecerVentana !important;
            animation-duration: .5s !important;
            animation-fill-mode: forwards !important;
        }

            @keyframes aparecerVentana {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        
        .cerrar-ventana-animacion {
            animation-name: cerrarVentana !important;
            animation-duration: .5s !important;
            animation-fill-mode: forwards !important;
        }

            @keyframes cerrarVentana {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }


/*-----------------------------------
    6 - Modificar - Eliminar - Rehacer Transacciones
------------------------------------*/
    .rehacer__container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 20px;
        z-index: 8888;
       
    }

        .rehacer__titulo {
            position: relative;
            bottom: 70px;
        }

        .rehacer__icons-container {
            position: relative;
            bottom: 70px;
            display: grid;
            grid-template-rows: 1fr;
            grid-auto-flow: column;
        }

            .rehacer__icons {
                font-size: 70px;
                margin: 10px 30px;
                transition: all .5s ease;
            }

                .rehacer__icons:hover {
                    color: var(--red);
                }

                .rehacer__icons--opacity {
                    opacity: 0;
                }

        
        .div-btn {
            padding: 20px 0;
        } 

            .btn-confirmar {
                width: 150px;
                height: 40px;
                font-size: 20px;
                font-weight: 600;
                border-radius: 20px;
                color: #fff;
                border: 2px solid #fff;
                background: #0F6232;
                outline: none;
                margin-right: 30px;
                cursor: pointer;
                transition-property: font-size;
                user-select: none;
            }

                .btn-confirmar:hover {
                    background: var(--azul-claro);
                }

                .btn-cancelar {
                    width: 150px;
                    height: 40px;
                    font-size: 20px;
                    font-weight: 600;
                    border-radius: 20px;
                    color: #fff;
                    border: 2px solid #fff;
                    background: var(--red);
                    outline: none;
                    cursor: pointer;
                    transition-property: font-size;
                    user-select: none;
                }
    
                    .btn-cancelar:hover {
                        background: violet;
                        color: #000;
                    }

/*-----------------------------------
    7 - Seccion de Entrada de Bases 
------------------------------------*/
    .bases {
        align-self: center;
        background:rgba(47, 44, 162, 0.4); 
        border-radius: 20px; 
    }
    .bases__titulo {
        text-align: center;
    }
    
    .bases__container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 150px;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }   

        .bases__primera-columna {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
            padding: 5px 10px;
            margin: 0 20px;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 20px;
        }


        .bases__segunda-columna {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            padding: 5px 10px;
            margin: 0 20px;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 20px;
        }

        .bases__tercera-columna {
            grid-row: 1 / span 1;
            grid-column: 3 / span 1;
            padding: 5px 10px;
            margin: 0 20px;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 20px;
        }

            .bases__header {
                display: grid;
                place-items: center;
                grid-gap: 10px;
                text-align: center;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 90px 1fr;
                font-size: 15px;
            }

                .bases__header-title {
                    font-size: 20px;
                }
            
            .bases__fila {
                display: grid;
                padding: 10px;
                grid-template-rows: 80px;
                grid-template-columns: 1fr 90px 1fr;
                place-items: center;
            }

                .bases__fila-img {
                    width: 200px;
                    object-fit: cover;
                }

                .bases__fila-input {
                    text-align: center;
                    font-weight: 600;
                    outline: none;
                    width: 40%;
                }

                    .bases__fila-input:focus {
                        background: var(--azul);
                        border: 1px solid #fff;
                        color: #fff;
                    }
            
            .bases__monedas-container {
                grid-column: 1 / span 1;
                justify-self: flex-start;
                margin-top: 20px;
                margin: 0 20px;
                background:rgba(0, 0, 0, 0.8); 
                border-radius: 20px;
            }
            
                .bases__header-monedas {
                    display: grid;
                    place-items: center;
                    padding: 10px;
                    grid-gap: 10px;
                    text-align: center;
                    grid-template-rows: 1fr;
                    grid-template-columns: 132px  100px;
                    font-size: 15px;
                }

                .bases__monedas {
                    display: grid;
                    grid-template-rows: 80px;
                    padding: 5px;
                    grid-template-columns: 132px  100px;
                    place-items: center;
                }

                    .bases__fila-monedas-img {
                        width: 70px;
                        object-fit: cover;
                    }
        
        .bases__total {
            position: relative;
            left: -30px;
            grid-column: 3 / span 1;

        }
            .bases__fila-total {
                font-size: 35px;
                margin-right: 10px
            }

            .bases__fila-total-value {
                display: block;
                font-size: 35px;
                min-width: 220px;
                height: 60px;
                color: var(--red);
                font-weight: 600;
                text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
            }

        .bases__guardar {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

            .ocultar-guardar {
                display: none !important;
            }

            .bases__guardar-text {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            .bases__guardar-icon {
                align-self: center;
                width: 80px;
                font-size: 80px;
                cursor: pointer;
            }

                .bases__guardar-icon:hover {
                    color: var(--red);
                }

        .bases__btn-container {
            display: none;
            text-align: center;
            opacity: 0;
        }

            .btn-aparecer {
                display: initial !important;
                animation-name: aparecerBtnBases;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            @keyframes aparecerBtnBases {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            

            .bases__btn-mensaje {
                font-size: 25px;
            }

            .bases__btn-aceptar {
                margin-top: 15px;
                width: 150px;
                height: 40px;
                font-size: 20px;
                font-weight: 600;
                border-radius: 20px;
                color: #fff;
                border: 2px solid #fff;
                background: #0F6232;
                outline: none;
                margin-right: 30px;
                cursor: pointer;
                transition-property: font-size;
                user-select: none;
            }

                .bases__btn-aceptar:hover {
                    background: var(--red);
                }

            .bases__btn-cancelar {
                width: 150px;
                height: 40px;
                font-size: 20px;
                font-weight: 600;
                border-radius: 20px;
                color: #fff;
                border: 2px solid #fff;
                background: var(--red);
                outline: none;
                cursor: pointer;
                transition-property: font-size;
                user-select: none;
            }
    
                .bases__btn-cancelar:hover {
                    background: violet;
                    color: #000;
                }

/*-----------------------------------
    8 - Seccion de Lista de Clientes
------------------------------------*/

    .clientes {
        display: grid;
        grid-template-rows: 30px 1fr;
        height: 100%;
        place-items: center;
        text-align: center;
        color: #fff;
    }

        .clientes__titulo {
            font-size: 35px;
        }

            .stroke-blue {
                text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF !important;
            }
            
            .stroke-black {
                text-shadow: -3px -3px 3px #000, 3px -3px 3px #000, -3px 3px 3px #000, 3px 3px 3px #000 !important;
            }

        .clientes__container {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 80%;
            max-height: 400px;
            padding: 10px 30px;
            border-radius: 20px;
            background: rgba(75, 188, 223, 0.6);
        }
        
            .overflow {
                overflow-y: auto;
            }

            .clientes__container::-webkit-scrollbar {
                background: var(--azul);
                height: 10px;
                border-radius: 20px;
            }

                .clientes__container::-webkit-scrollbar:vertical {
                    width: 15px;
                }

                .clientes__container::-webkit-scrollbar-thumb {
                    background: var(--red);
                    border-radius: 20px;
                }

                    .clientes__container::-webkit-scrollbar-thumb:hover {
                        background: rgb(245, 6, 245);
                    }

            .clientes__buscar-container {
                position: relative;
                align-self: flex-end;
                width: 420px;
                min-height: 60px;
            }

                .clientes__buscar {
                    position: absolute;
                    right: 0;
                    min-width: 60px;
                    top: 5px;
                    padding: 5px;
                    height: 70px;
                }

                    .clientes__input-buscar {
                        width: 0;
                        height: 40px;
                        padding: 0 20px;
                        font-size: 18px;
                        color: #000;
                        outline: none;
                        border-radius: 30px;
                        border: 1px solid var(--azul-claro);
                        transition: all .6s ease;
                    }

                        .clientes__buscar:hover input {
                            width: 400px;
                        }

                        .clientes__input-buscar:focus {
                            width: 400px;
                        }
                    
                    .clientes__btn-container {
                        position: absolute;
                        display: grid;
                        top: 0;
                        right: 0;
                        color: #fff;
                        background: var(--red);
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        line-height: 55px;
                        text-align: center;
                        cursor: pointer;
                    }

                        .clientes__btn-lupa {
                            font-size: 30px;
                            height: 30px;
                            align-self: center;
                        }

                            .active {
                                color: var(--red);
                            }


            .clientes__type {
                display: grid;
                place-items: center;
                grid-template-rows: 50px;
                grid-template-columns: 50px 150px minmax(200px, 1fr) 1fr;
                border-bottom: 2px solid rgba(255, 255, 255, .5);
                font-weight: 600;
                min-height: 40px;
            }
            
            .clientes__item {
                display: grid;
                place-items: center;
                grid-template-rows: 40px;
                grid-template-columns: 50px 150px minmax(200px, 1fr) 1fr;
                border-bottom: 2px solid rgba(255, 255, 255, .5);
                min-height: 40px;
            }

        .clientes__herramientas {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 105%;
            left: -20px;
            top: -10px;
            height: 105%;
            background: rgba(0, 0, 0, 0.9);
            border-radius: 20px;
            z-index: 8888;
            transition: all .5s ease;
            animation-name: aparecerHerramientas;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }

            @keyframes aparecerHerramientas {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            .cerrar {
                animation-name: ocultarHerramientas !important;
                animation-duration: .5s !important ;
                animation-fill-mode: forwards !important;
            }

                @keyframes ocultarHerramientas {
                    from {
                        opacity: 1;
                    }
                    to {
                        opacity: 0;
                    }
                }

            .clientes__icons-container {
                user-select: none;
            }

                .clientes__icons {
                    font-size: 80px;
                    margin: 0 40px;
                }

                    .clientes__icons:hover {
                        color: var(--red);
                    }

                        .clientes__icons--atras {
                            position: absolute;
                            top: 40px;
                            right: 60px;
                            font-size: 40px;
                        }

                            .clientes__icons--atras:hover {
                                color: var(--red);
                            }

            .clientes__type {
                display: grid;
                font-weight: 600;  
                place-items: center;
                grid-template-rows: 40px;
                grid-template-columns: 50px 200px minmax(100px, 1fr) minmax(300px, 1fr);
                justify-items: center;
                background: var(--azul);
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                border-bottom: 2px solid #fff;
                user-select: none;
            }
    
                .clientes__header {
                    display: block;
                    color: #fff;
                }
    
            .clientes__item {
                display: grid;
                text-align: center;
                grid-template-rows: 40px;
                grid-template-columns: 50px 200px minmax(100px, 1fr) minmax(300px, 1fr);
                place-items: center;
                grid-column-gap: 5px;
                grid-row: 3 / span 1;
                border-bottom: 2px solid var(--azul);
                cursor: pointer;
                user-select: none;
            }
    
                .clientes__input-value {
                    display: inline-block;
                    text-align: center;
                    outline: none;
                    font-weight: 600;
                }
    
                    .clientes__input-value:nth-child(1) {
                        display: inline-block;
                        width: 40px
                    }
    
                    .clientes__input-value:nth-child(2) {
                        display: inline-block;
                        width: 150px;
                    }
        
    .transicion-ventanas {
        animation-name: transicionVentana !important;
        animation-duration: .5s !important;
        animation-fill-mode: forwards !important;
    }

        @keyframes transicionVentana {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
/*-----------------------------------
    9 - Seccion de Computadores
------------------------------------*/

    .computadores {
        width: 100%;
        height: 100%;
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }

        .computadores__container {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            grid-auto-rows: 1fr;
            background: var(--azul-claro);
            border-radius: 20px;
        }

            .computadores__icon-container {
                display: flex;
                justify-content: center;
                width: 160px;
                height: 100px;
            }

                .computadores__icon {
                    position: relative;
                    left: -15px;
                    font-size: 65px;
                    height: 65px;
                    border-radius: 10px;
                    color: var(--red);
                    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);
                }     
                
                    .computadores__icon-container:hover > .computadores__icon {
                        color: #fff;
                        box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px var(--red), 5px 5px 15px 5px rgba(0,0,0,0);
                    }

    .pcs {
        position: absolute;
        left: -1000px;
        align-self: center;
        display: flex;
        justify-content: center;
        height: 92%;
        background: rgba(0, 0, 0, 0.9);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-right: 4px solid var(--red);
        border-bottom: 4px solid var(--red);
        transition: all 1s ease;
        z-index: 9999;
    }

        .pcs__aparecer-ventana {
            left: 0 !important;
        }

        .pcs__container {
            display: grid;
            grid-template-rows: 70px 1fr;
            grid-template-columns: 300px 350px;
            place-items: center;
        }

                .pcs__pc-container {
                    display: flex;
                    padding-top: 40px;
                    justify-content: center;
                    grid-row: 1 / span 1;
                    grid-column: 1 / span 1;
                    width: 250px;
                    border-right: 2px solid #fff;
                    position: relative;
                    font-size: 70px;
                }
                
                .pcs__numero {
                    padding-top: 40px;
                    grid-row: 1 / span 1;
                    grid-column: 2 / span 1;
                    position: relative;
                    color: var(--red);
                    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
                    font-size: 70px;
                }

            .pcs__img-container {
                position: relative;
                top: 50px;
                grid-row: 1 / span 2;
                grid-column: 1 / span 1;
            }

                .pcs__img {
                    width: 250px;
                    height: 250px;
                    border-right: 2px solid #fff;
                }
            
            .pcs__info {
                justify-self: flex-start;
                width: 350px;
                grid-row: 2 / span 1;
                grid-column: 2 / span 1;
                opacity: 1;
            }

                .pcs__item {
                    margin-bottom: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }

                    .pcs__text {
                        align-self: center;
                        width: 85px;
                        margin-right: 20px;
                        user-select: none;
                    }
                
                .pcs__input {
                    outline: none;
                    padding: 5px;
                    border-radius: 10px;
                    border: 2px solid #fff;
                    font-weight: 600;
                }

                    .pcs__input:hover {
                        background: var(--azul);
                        color: #fff;
                    }

                    .pcs__item:hover > .pcs__text {
                        font-weight: 600;
                        color: var(--red);
                    }

                    .pcs__item:hover > .pcs__input {
                        background: var(--azul);
                        color: #fff;
                    }


            .pcs__btn-container {
                display: grid;
                place-items: center;
            }

                .pcs__btn {
                    width: 240px;
                    margin-bottom: 10px;
                    height: 35px;
                    border-radius: 20px;
                    border: 2px solid #fff;
                    outline: none;
                    color: #fff;
                    cursor: pointer;
                    font-size: 18px;
                }

                .btn-pagar {
                    background: #0F6232;
                    color: #fff;
                }

                    .btn-pagar:hover {
                        background: var(--azul-claro);
                    }

                .btn-transferencias-realizadas {
                    background: var(--red);
                    font-weight: 600;
                }
    
                    .btn-transferencias-realizadas:hover {
                        background: violet;
                        color: #000;
                        font-weight: 600;
                    }
    
              